html {
    scroll-behavior: smooth;
}

body {
	font-family: monospace;
	background-color: #f0f8ff; /* Light blue */
	max-width: 700px;
	margin: 0 auto;
	padding: 0 10px;
	overflow-y: scroll;
}

.header {
	text-decoration: none;
	color: white;
	background-color: black;
	border-radius: 4px;
	padding: 2px 6px;
}

h3, h5, ol, ul {
	color: #555;
}

#red {
	color: red;
}

li {
	padding: 5px 0;
}

ol, ul {
	padding: 0 5px 0 25px;
}

#reset-button {
	background-color: #ff9088; /* Red */
	border-radius: 5px;
}

#current-month-button {
	background-color: #ffa920; /* Orange */
	border-radius: 5px;
}

input[type="search"],
#expense-search {
  padding: 4px 10px;
  font-family: monospace;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  width: 250px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.05);
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="search"]:focus,
#expense-search:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0,123,255,0.25);
}

#active-filters {
	margin-top: 10px;
	padding: 8px 12px;
	background-color: #f0f8ff;
	border: 1px solid #ddd;
	border-radius: 8px;
	font-size: 0.9rem;
	color: #333;
	width: fit-content;
  }
  
#expenseForm {
	border: 2px solid #ffa920;
	background-color: #fff;
	border-radius: 8px;
	padding: 10px 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#panduan {
	margin: 10px 0;
	border: 2px solid #ffa920;
	border-radius: 8px;
	padding: 10px 15px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

  .stt {
	position: fixed;
	bottom: 50px;
	right: 400px;
	z-index: 9;
	padding: 5px 5px;
	font-size: 12px;
	text-align: center;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
	color: grey;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

.stt:active {
	color: white;
	background-color: black;
}

@media (max-width: 800px) {	
    .stt {
        right: 40px;
        }
    }

@media screen and (max-width: 500px) {
    .stt {
		right: 10px;	
	}
}